.form
	display block

	&__intro
		max-width 380px
		margin auto
		text-align center

	&__preview
		padding-bottom 30px

	&__title
		padding-bottom 10px

		.subtitle
			font-weight 700

	&__annotation
		color #7c8ca2

	&__form
		padding-top 30px

	&__row
		padding-bottom 20px