include ../circle-preview/circle-preview
include ../subtitle/subtitle
include ../input/input


mixin form()
	+b.form&attributes(attributes)
		+e.intro
			+e.preview
				+circle-preview()
			+e.title
				+subtitle() Оформление заказа
			+e.annotation Оставьте свои данные и&nbsp;мы свяжемся с&nbsp;вами в&nbsp;ближайшее время, чтобы обсудить детали.
		+e.FORM.form(action='' method='POST')
			+e.row
				+input([], 'Это не ваше имя')(required='true' placeholder='Ваше имя')
			+e.row
				+input([])(required='true' placeholder='Номер телефона')
			+e.row
				+input(['Москва', 'Новокузнецк', 'Новосибирск', 'Новомосковск', 'Новочеркасск', 'Новокузнецк', 'Омск'])(required='true' placeholder='Город доставки')
				+e.row-annotation Доставка от 1 до 7 дней, от 165 ₽
			+e.button
				button(type="submit" class="button" data-show='success-order' data-hide='order') Оформить заказ
