mixin right-demo()
	+b.right-demo&attributes(attributes)
		+e.inner
			+e.P.text #[b Следите за здоровьем ребёнка:] шагомер, подсчёт калорий, продолжительность и качество сна
			+e.IMG.image(src='assets/images/big-white.png' alt='')
