// Responsive stuff
$desktop = 1023px
$tablet = 769px
$mobile = 480px


$content-width = 1024px
$content-padding = 40px
$content-padding-mobile = 16px

$topbar-height = 80px
$topbar-height-mobile = 50px

$logo-size = 98px
$logo-size-mobile = $logo-size * 0.75

$burger-size = 20px

$waves-size = 1000px

$close-button-size = 80px
$close-button-size-mobile = $close-button-size * 0.5

$accent = #b17ee9

$animation-speed = .2s


// Fonts
$font-size = 16px
$line-height = 1.4
$base-line = $font-size * $line-height
$font-family = AGAvalancheC, Helvetica Neue, Helvetica, Arial, sans-serif
