// Responsive stuff
$desktop = 1024px
$mobile = 480px


$content-width = 1024px
$content-padding = 40px

$accent = #b17ee9

$animation-speed = .2s


// Fonts
$font-size = 16px
$line-height = 1.4
$base-line = $font-size * $line-height
$font-family = 'Helvetica Neue', Helvetica, Arial, sans-serif
