.circle-preview
	position relative
	display flex
	align-items center
	justify-content center
	size(160px)
	margin auto
	border-radius 100%

	&--white
		background-image linear-gradient(to bottom, #bdfcff, #fff)

	&--pink
		background-image linear-gradient(to bottom, #ffa8da, #fff)

	&--blue
		background-image linear-gradient(to bottom, #869be6, #fff)

	&--cyan
		background-image linear-gradient(to bottom, #bdfcff, #fff)

	&--black
		background-image linear-gradient(to bottom, #dddddd, #fff)

	&--green
		background-image linear-gradient(to bottom, #a5ea93, #fff)

	&__image
		max-width 102px
		max-height 120px

	&__text
		position absolute
		bottom -.5em
		font-size 14px
		line-height 1.1
		color #7c8ca2
