// Regular
@font-face
	font-family 'AGAvalancheC'
	src url('../fonts/agavalanche/regular.woff2') format('woff2'),
			url('../fonts/agavalanche/regular.woff') format('woff')
	font-style normal
	font-weight 400


// Bold
@font-face
	font-family 'AGAvalancheC'
	src url('../fonts/agavalanche/bold.woff2') format('woff2'),
			url('../fonts/agavalanche/bold.woff') format('woff')
	font-style normal
	font-weight 700
