.waves
	position relative
	size($content-width)

	+below($desktop)
		size($content-width * .8)

	&__wave
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		size(100%)
		background rgba(#82e6e3, .3)
		border-radius 100%

		&--medium
			size(70%)

		&--small
			size(50%)
