.title
	font-weight 700
	font-size 45px
	line-height 1.3333333333
	letter-spacing 1px
	color #252525

	+below($desktop)
		font-size 38px

	+below($tablet)
		font-size 32px

	+below($mobile)
		font-size 27px
