.nav
	display block
	width 100%
	list-style none
	font-size 0

	&__item
		display inline-block
		font-size $font-size

		+below($desktop)
			display block
			width 100%
			text-align center

		&:not(:last-child)
			+below($desktop)
				margin-bottom .625em

		&--active
			&:not(:first-child)
				margin-left .625em

				+below($desktop)
					margin-left 0

			&:not(:last-child)
				margin-right .625em

				+below($desktop)
					margin-left 0

	&__link,
	&__text
		display block
		height 2.14285714em
		padding .14285714em .71428571em 0
		font-size .875em
		line-height 2em
		color #7c8ca2

	&__link
		border-bottom 2px solid transparent
		transition color $animation-speed ease, border-color $animation-speed

		&:hover,
		&:focus
			color $accent
			border-bottom-color $accent
			transition none

		.nav__item--active &
			font-weight bold
			color #fff
			background-color $accent
			border-radius .5em
