.topbar
	display flex
	align-items center
	height 80px
	background-color #fff
	box-shadow 0 8px 32px -16px rgba(0, 0,0, .5)

	&__inner
		display flex
		align-items center
		justify-content space-between
		width $content-width
		margin auto
		padding 0 $content-padding
	
	&__menu
		display flex
		align-items center

	&__phone
			margin-right 22px
