include ../logo/logo
include ../hybrid-nav/hybrid-nav
include ../phone-link/phone-link
include ../close-btn/close-btn
include ../burger/burger

- var phone = '8 (800) 555-55-50'

mixin topbar()
	+b.topbar&attributes(attributes)
		+e.inner
			+e.burger
				+burger()(data-show='menu')
			+e.logo
				+logo()
			+e.hybrid-nav
				+hybrid-nav()(data-target='menu')
			+e.phonu
				+phone-link(phone)

