.topbar
	display flex
	align-items center
	height 5em
	font-size $font-size
	background-color #fff
	transition background .5s ease

	+below($desktop)
		height 3.125em

	&--pinned
		position fixed
		top 0
		left 0
		right 0
		z-index 9998
		height 3.75em
		background-color $accent
		background-image linear-gradient(to right, #ef74fb 0%, $accent 100%)
		box-shadow 0 4px 16px -8px rgba(#000, 1)
		opacity 0
		transform translateY(-120%)
		transition transform $animation-speed * 2 ease, opacity $animation-speed * 2 ease

		&[data-visible='true']
			opacity 1
			transform translateY(0)

		.burger,
		.burger::before,
		.burger::after
			background #fff

	&__inner
		display flex
		align-items center
		justify-content space-between
		max-width $content-width
		height 100%
		width 100%
		margin auto
		padding 0 $content-padding

		+below($desktop)
			padding 0 $content-padding-mobile

	&__burger
		display none

		+below($desktop)
			display block
			margin-right $burger-size * .5

		.topbar--pinned &
			display none

	&__logo
		unflexible()
		margin-right $logo-size

		+below($desktop)
			margin-right $logo-size-mobile * .35

	&__hybrid-nav
		flexible()

		.topbar--pinned &
			visibility hidden
			opacity 0

			+below($desktop)
				visibility visible
				opacity 1

	&__phone
		display none
		font-size .875em

		+below($desktop)
			display block

		.topbar--pinned &
			display block
			flexible()
			text-align right

			+below($mobile)
				display none

			.phone-link
				color #fff

	&__button
		display block
		margin-left 25px
		padding 0 1em
		font-size .875em
		line-height 2.7
		unflexible()
		border-radius .5em
		color $accent
		background #fff
