.button
	display inline-block
	height 3.75em
	padding .3125em 1.875em 0
	font-weight bold
	font-size $font-size
	line-height 3.4375em
	letter-spacing 1px
	border 0
	outline 0
	border-radius .625em
	color #fff
	background-color #f36eff
	background-image linear-gradient(to right, #f36eff 0%, $accent 100%)
	box-shadow 0 .125em 1.25em 0 rgba(197, 130, 230, 0.6), 0 .0625em .125em 0 rgba(197, 130, 230, 0.5)
	cursor pointer
	transition all $animation-speed

	+below($desktop)
		font-size .85em

	+below($tablet)
		font-size .75em

	&:hover,
	&:focus
		background-color #f36eff
		background-image linear-gradient(to right, #f36eff 0%, #f36eff 100%)
		box-shadow 0 .125em 1.5625em 0 #c682e6, 0 .0625em .3125em 0 #c682e6

	&--fullwidth
		width 100%

	&--play
		position relative
		padding-left 55px
		padding-right 20px
		color $accent
		background #fff
		box-shadow none

		&:hover,
		&:focus
			color #fff

			&::before
				background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAMAAADypuvZAAAAV1BMVEUAAAD////////////////////////////////////////////////////////////////////zbv/1g//0eP//9v/+6v/82v/7w//4q//3mf/3lf/0cf8oAlF1AAAAEXRSTlMA+u/ev4wk4ryqlWY2LysTRRDq4rMAAAEBSURBVHgBndbpjsIwEANg52h6UxzYe9//OVdiJRAwCam//1aRSTIDQ5qnIXjnfBimOaHB2vW803cr6pZIQ1xQlkYWjAkFnWOR62DZIqvihieHwBfCAQ+Oni/548N3PBv4u29tgU3ChpvIRhFXHZtdm0+OzVzCv5E7jLhYuMtSaaHexcqd1lJ1p++3aoE9DTmf3lnQA4l2KJ8/WJAwl0L595O2GZMduviiacJQCeUfs44BoRay6wjw1ZBZh4erh/KZT5wWkn6eVIRUufTnSsdIOrDS1dAuoXTdpYdFecKEx1J4lpUBoIwacajp41Mf1NpKoC0fypojLFTC6iYsicI6+ge+IIufqkHnIgAAAABJRU5ErkJggg==')

		&::before
			content ''
			position absolute
			top 50%
			left 20px
			transform translateY(-50%)
			size(25px)
			background-image svg('play.svg')
			background-size cover
