.preview
	display block
	border-radius 10px

	&--white
		background #fff

	&--pink
		background #ffa8da

	&--blue
		background #869be6

	&--cyan
		background #bdfcff

	&--black
		background #dddddd

	&--green
		background #a5ea93

	&__inner
		padding 15.625% 0

	&__image
		position relative
		display block
		padding-bottom 84.375%
		margin auto

		img
			position absolute
			top 0
			left 50%
			bottom 0
			width auto
			height 100%
			transform translateX(-50%)

	&__button
		padding-top 27.27272727%
		text-align center
