include ../button-light/button-light

mixin preview(imgname)
	+b.preview&attributes(attributes)
		+e.inner
			+e.image
				img(src='assets/images/' + imgname)
			+e.button
				+button-light()(data-show='order') Купить за 2690 ₽
