include ../title/title


mixin best()
	+b.best&attributes(attributes)
		+e.inner
			+e.IMG.icon(src='assets/images/best.svg' alt='' role='presentation')
			+title() Лучшие в своём роде
			+e.subtitle Улучшенный процессор часов&nbsp;&mdash; позволяет быстро определять данные по&nbsp;GPS. Ремешок из&nbsp;гипоаллергенного силикона.<br/>Самая популярная модель #[span.u-nobr 2015-2016] года.
