.video
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background #000
	visibility hidden
	z-index -1

	&[data-visible='true']
		visibility visible
		z-index 9999

	&__inner
		display flex
		align-items center
		justify-content center
		height 100%

	&__close
		position fixed
		right 30px
		top 30px

	&__stage
		width 100%
		height 100%

	iframe
		width 100%
		height 100%
