include ../close-btn/close-btn


mixin video()
	+b.video(data-target='video')&attributes(attributes)
		+e.inner
			+e.close(data-hide='video')
				+close-btn()
			+e.stage
				iframe(width='560' height='315' src='https://www.youtube.com/embed/4KKuEw3mHGc' frameborder='0' controls='0' allowfullscreen)
