extends ../layouts/main

include ../blocks/hero/hero
include ../blocks/app-promo/app-promo
include ../blocks/angled/angled
include ../blocks/sos/sos
include ../blocks/features/features
include ../blocks/right-demo/right-demo
include ../blocks/best/best
include ../blocks/info/info
include ../blocks/order/order
include ../blocks/video/video
include ../blocks/modal/modal
include ../blocks/success-order/success-order
include ../blocks/form/form


block head
	- var pageTitle = 'nionik — детские часы с GPS-трекером';

block content
	+hero()
	+app-promo()
	+angled()
		+sos()
	+features()
	+right-demo()
	+best()
	+info()
	+order()
	+video()
	+modal()(data-target='success-order')
		+success-order()
	+modal()(data-target='order')
		+form()
