.success-order
	text-align center

	&__preview
		display inline-block
		padding-bottom 20px

	&__title
		padding-bottom 15px

		.subtitle
			font-weight 700

	&__annotation
		max-width 360px
		margin auto
		color #7c8ca2
