mixin info()
	+b.info&attributes(attributes)
		+e.inner
			+e.table
				table
					thead
					tfoot
					tbody
						tr
							td Время работы
							td #[b до 3 дней]
						tr
							td Поддерживаемые ОС
							td #[b iOS и Android]
						tr
							td Размеры
							td 31×52×11,8 мм
						tr
							td Вес
							td 35,1 гр
						tr
							td Батарея
							td 400mAH
						tr
							td SIM-карта
							td 2G, micro-sim
						tr
							td Процессор
							td MTK 6261 364MHz
						tr
							td Дисплей
							td 0,96” OLED 128×64
						tr
							td Зарядка
							td MicroUSB
						tr
							td Комплектация
							td USB-кабель и инструкция
						tr
							td Гарантия
							td 1 год

			+e.IMG.image(src='assets/images/info.png' alt='' role='presentation')
