include ../../node_modules/bemto.jade/bemto
- set_bemto_settings({ modifier: '--' })

include ../jade-tools/scripts

include ../blocks/topbar/topbar
include ../blocks/footer/footer
include ../blocks/button-light/button-light

doctype html
html(lang='ru')
	include ../blocks/head/head
	body
		+topbar()
		+b.topbar--pinned
			+e.inner
				+e.burger
					+burger()(data-menu='show')
				+e.logo
					+logo()
				+e.phone
					+phone-link(phone)
				+e.A.button(href=jv0 data-show='order') Купить за 3&nbsp;999&nbsp;₽
		block content
		+footer()
		block scripts
		+scripts(['build.js'])
