mixin input(suggestOptions, error)
	+b.input(class= error ? '--error' : '')
		+e.INPUT.field&attributes(attributes)
		if (error)
			+e.error= error
		if (suggestOptions.length > 0)
			+e.UL.suggest
				each option in suggestOptions
					+e.LI.suggest-item
						b= option.slice(0, 3)
						= option.slice(3)
