.appstore
	hidetext()
	display block
	height 40px
	background-size cover

	&--android
		width 123px
		background-image url('/assets/images/appstore-android.png')

	&--ios
		width 120px
		background-image url('/assets/images/appstore-ios.png')
